body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5; /* Light gray background for a soft look */
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px; /* Center container */
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff; /* White background for content area */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

h1, h2 {
  color: #333; /* Dark color for headings */
  text-align: center;
}

button {
  padding: 10px 15px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  cursor: pointer;
  font-size: 16px; /* Slightly larger text */
  transition: background-color 0.3s, transform 0.3s; /* Smooth effects for hover */
}

button:hover {
  background-color: #0056b3; /* Darker blue on hover */
  transform: translateY(-2px); /* Lift effect on hover */
}

label {
  display: block;
  margin: 10px 0;
  font-weight: bold;
  color: #555; /* Slightly lighter color for label */
}

select, input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 22px); /* Leave space for padding and borders */
  font-size: 16px; /* Match font size with button text */
  background-color: #f9f9f9; /* Light background for the select & input fields */
  transition: border-color 0.3s; /* Smooth border color transition */
}

select:focus, input[type="text"]:focus {
  border-color: #007bff; /* Change border color on focus */
  outline: none; /* Remove default outline */
}

.field-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.field-group select,
.field-group input {
  padding: 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1; /* Makes the fields take equal space */
}

.field-group input {
  flex: 2; /* Larger space for text input */
}

.filter-form-group {
  margin-bottom: 20px;
}

.filter-form-group label {
  display: block;
  margin: 10px 0 5px;
}

.filter-form-group select,
.filter-form-group input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
}

.filter-form-group button {
  padding: 10px 15px;
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
 }

.reset-btn {
  background-color: #dc3545; /* Bootstrap danger color */
}

.reset-btn:hover {
  background-color: #c82333; /* Darker red on hover */
}

.fill-btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

button:disabled {
    background-color: #f0f0f0; /* Light gray background */
    color: #a0a0a0;           /* Light gray text */
    cursor: not-allowed;      /* Change the cursor style */
    opacity: 0.5;             /* Faded effect */
    border: 1px solid #ccc;   /* Light border */
}
